.cm-focused {
    outline: none !important;
}

.convert-expr {
    position: absolute;
    right: 30px;
    top: -6px;
    z-index: 1;
    border: 0;
    background: transparent;
    font-size: 20px;
    color: #8080808c;
}

.remove-expr {
    position: absolute;
    right: 4px;
    top: -6px;
    z-index: 1;
    border: 0px;
    background: transparent;
    font-size: 20px;
    color: #8080808c;
}

.error {
    height: 26px;
    background: #ff00000f;
    margin-top: 7px;
}

button > svg:hover {
    color: rgb(21, 140, 186)
}

.keyboard-shortcut {
    /* Background and color */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.7);

    /* Bottom shadow */
    box-shadow: #d1d5db 0px -4px 0px inset, rgba(0, 0, 0, 0.4) 0px 1px 1px;

    /* Spacing */
    padding: 0.25rem 0.5rem;
}

.cm-gutters {
    visibility: hidden;
}